@echo off
set PROJECT_SHORTNAME=test-errai4-tomcat
if "%LOGNAME%" == "" set LOGNAME=%PROJECT_SHORTNAME%
setlocal
set DOMAVENARGS=%*
set SCRIPTPATH=%~dp0
set MAVEN_LOGFILE=%TEMP%\maven-%LOGNAME%.log
if "%DOMAVENARGS%" == "" goto showUsage
goto argsOk
:showUsage
echo "Usage: doMaven [options] [<goal(s)>] [<phase(s)>]"
pause
goto mavenEnd
:mavenFileNotFound
echo Maven project file not found
pause
goto mavenEnd
:argsOk
title Maven %PROJECT_SHORTNAME% %DOMAVENARGS%
echo Maven %DOMAVENARGS% ...
set POMFILE=pom.xml
cd %SCRIPTPATH%..
if not exist %POMFILE% goto mavenFileNotFound
if exist %POMFILE% goto mavenRun
:mavenRun
set PATH=%JAVA_HOME%\bin;%PATH%
call mvn %DOMAVENARGS% > %MAVEN_LOGFILE% 2>&1
type %MAVEN_LOGFILE%
:mavenEnd
endlocal